<form action='./users/login' method='post' class="form_login">
  <h1>Login</h1>
  Email: <input type='email' name='email' id='email' />
  Password: <input type='password' name='password' id='password' />
  <input type='submit' value='Login' />
  <div class="a">
    <a href="./reset-password" class="button_a">Reset Password</a>
  </div>
</form>

<div class="center_div">
  <h2>Login with GitHub</h2>
  <a href="./users/register-github" class="button_a">Login with GitHub</a>
</div>

<div class="center_div">
  <h2>Registration for a new user.</h2>
  <a href="./register" class="button_a">Go to registration</a>
  
</div>