<form action="/email/new-password" method="post">
    <input type="text" name="email" value="{{email}}" hidden="hidden">
    <input type="password" name="password">
    <input type="submit" value="Submit">
</form>