<div>Ticket of the Recent Purchase</div>
<div>Code: {{code}}</div>
<div>Purchaser: {{purchaser}}</div>
<div>Purchase Time: {{purchase_datetime}}</div>
<div>Amount: {{amount}}</div>

<button><a href="/profile">Go back to Profile</a></button>